
body {
  margin: 0;
  padding: 0;
}

a {
  color:inherit;
  text-decoration: none;
}

.title-block {
  text-align: center;
  background-image: url('/images/no-kopi-raito2.jpg');
  height: 90px;
  background-size: 100%;
  font-size: 40px;
  padding: 130px 0;
  font-family:'Yomogi', cursive;
}

.title-block h2 {
  margin: 0;
  background-color: white;
  opacity: 0.8;
}

.contents {
  width: 300px;
  height: 200px;
  display: inline-block;
  padding: 30px;
  box-shadow: 2px 2px 4px;
  margin: 30px 30px;
}

.contents h3{
  text-align: center;
}

