
body {
  margin: 0;
  padding: 0;
}

a {
  color:inherit;
  text-decoration: none;
}

.title-block {
  text-align: center;
  background-image: url('/images/no-kopi-raito2.jpg');
  height: 90px;
  background-size: 100%;
  font-size: 40px;
  padding: 130px 0;
  font-family:'Yomogi', cursive;
}

.title-block h2 {
  margin: 0;
  background-color: white;
  opacity: 0.8;
}

section {
  margin: 100px auto;
}

.under_line {
  text-align: center;
}

.under_line img {
  width: 1500px;
}

section h2 {
  text-align: center;
  /* width: 200px; */
  /* margin: 0 720px; */
  font-family:'Yomogi', cursive;
  font-size: 40px;
  background: linear-gradient(transparent 60%, #b8dff3 60%);
}

.contents {
  width: 350px;
  height: 200px;
  display: inline-block;
  box-shadow: 2px 2px 4px;
  margin: 30px 30px;
}

/* .description {
  background-color: white;
  opacity: 0.8;
  height: 200px;
} */

.contents h3 {
  text-align: center;
  margin: 0;
}

/* .php-box {
  background-image: url('/images/PHP-logo.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.php-box img {
  margin: 20px 30px;
}

/* .laravel-box {
  background-image: url('/images/laravel6-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.laravel-box img {
  margin: 20px 75px;
}

/* .sql-box {
  background-image: url('/images/mysql-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.sql-box img {
  margin: 20px;
}

/* .linux-box {
  background-image: url('/images/linux_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.linux-box img {
  margin: 0 55px;
}

/* .nw-box {
  background-image: url('/images/network-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
} */

.nw-box img {
  margin: 0 50px;
}

.post-list li {
  list-style: none;
  text-align: center;
}

.post-list ul {
  padding: 0;
}

/* .post-list div {
 width: 800px;
  height: 200px;
  margin: 30px 420px;
  border: solid;
  margin: 50px 300px;
  padding: 30px;
} */

.post-content {
  display: flex;
  border: solid;
  width: 600px;
  margin: 30px auto;
}

.summary {
  margin: auto;
}

.thumb {
  border: solid;
}

.thumb_img {
  width: 200px;
}

.profile {
  width: 80%;
  height: 300px;
  margin: 200px auto;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #b2cbe4;
}

.profile h3 {
  font-family:'Yomogi', cursive;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

span {
  background: linear-gradient(transparent 50%, #fff 50%);
}

.profile-content {
  display: flex;
}

.profile-content:after {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #000;
}

.profile-top {
  margin: 20px auto;
  padding:0 50px;
}

.profile-top p {
  text-align: center;
}
.profile img {
  width: 150px;
}

.profile-body {
  margin: auto;
  padding:0 50px;
}

.btn {
  width: 100px;
  text-align: center;
  list-style: none;
  display: inline-block;
  font-family:'Yomogi', cursive;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 0 gray; /* 影の太さ・色 */
}

footer {
  background-color: gray;
  padding: 20px;
  opacity: 0.8;
}